<div style="margin-left: 40%;">
	<div class="card" style="width: 28rem; text-align: center; padding: 30px; border: 1px solid black; border-radius: 5px;">
		<img class="card-img-top" src="bg-img.jpg" alt="Card image cap">

		<div class="card-body">
		  <h5 class="card-title">
		  	<%= label_tag "이름" %>
				<%= current_user.name %>		
			</h5>
		  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		</div>

		<ul class="list-group list-group-flush">
		  <li class="list-group-item">Cras justo odio</li>
		  <li class="list-group-item">Dapibus ac facilisis in</li>
		  <li class="list-group-item">Vestibulum at eros</li>
		</ul>

		<div class="card-body">
		  <a href="/" class="card-link" style="padding-right: 20px;">뒤로 가기</a> |
		  <a href="#" class="card-link" style="padding-left: 20px;">정보 수정</a>
		</div>

	</div>
<div>