<div class="project-tabs-section-hc">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item project-li-hc active">
      <a class="nav-link project-tabs-hc" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">내 일정</a>
    </li>
    <li class="nav-item project-li-hc">
      <a class="nav-link project-tabs-hc" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">성취도</a>
    </li>
    <li class="nav-item project-li-hc">
      <a class="nav-link project-tabs-hc" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">멤버</a>
    </li>
    <li class="nav-item project-li-hc">
      <a class="nav-link project-tabs-hc" id="contact-tab" data-toggle="tab" href="#file" role="tab" aria-controls="contact" aria-selected="false">파일 보냄</a>
    </li>
  </ul>
</div>

<div class="tab-content" id="myTabContent">
  <div class="project-tabs-inner-hc">
    <div class="project-tabs1-hc tab-pane fade in active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <div class="project-list">

        <div class="card project-card-hc">
          <div class="card-body">
            <h5 class="card-title">몇일 일정</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>

        <div class="card project-card-hc">
          <div class="card-body">
            <h5 class="card-title">몇일 일정</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>

        <div class="card project-card-hc">
          <div class="card-body">
            <h5 class="card-title">몇일 일정</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>

        <div class="card project-card-hc">
          <div class="card-body" style="margin-top: auto; margin-bottom: auto;">
            <h2>계획 추가하기<h2>
          </div>
        </div>

      </div>
    </div>

    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    </div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
    </div>
    <div class="tab-pane fade" id="file" role="tabpanel" aria-labelledby="file-tab">
    </div>
  </div>
</div>
