
<!-- project navs bar content-->
<ul class="nav nav-pills mb-3 project-tabs-section-hc" id="pills-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">내 일정</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">성취도</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">멤버</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">파일 보내기</a>
  </li>
</ul>

<!-- project inner content -->
<div class="tab-content" id="pills-tabContent">
  <!-- project inner left and right padding -->
  <div class="project-tabs-inner-hc">
    <div class="tab-pane fade in active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
      <div class="project-list">

        <div class="card project-card-hc">
          <div class="card-body">
            <h4 class="card-title">오늘 할일</h4>
            <div class="form-inputs">
              <input type="text" class="form-control plan-box-hc" placeholder="Your Plan">
            </div>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <a href="#" class="card-link">Card link</a>
          </div>
        </div>

        <div class="card project-card-hc">
          <div class="card-body">
            <h5 class="card-title">몇일 일정</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>

        <div class="card project-card-hc">
          <div class="card-body">
            <h5 class="card-title">몇일 일정</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>

        <a href="#">
          <div class="card add-plan-button-hc">
            <div class="card-body">
              <div class="add-button-body-hc">
                <span class="glyphicon glyphicon-plus" aria-hidden="true" style="display:inline-block"></span>
                <p>Add Plan</p>
              </div>
            </div>
          </div>
        </a>

      </div>
    </div>
    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">...</div>
    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>
  </div>
</div>
