<p id="notice"><%= notice %></p>
<%= link_to new_post_path do %>
  <button class="btn btn-success btn-size-hc">새 글쓰기</button>
<% end %><br>

<div class="col s12 m8">
  <!-- _post.html.erb에 partial -->
  <% @posts.reverse.each do |post| %>
    <%= render partial: "post", object: "post" %>
  <% end %>
</div>
