
/*
*= require_tree .
*= require_self
*/

@import "bootstrap-sprockets";
@import "bootstrap";


body {
    margin: 0px;
    padding: 0px;
    
}
#container {
    width: 100%;
    height: auto;
    margin-top: 70px;
}
.container-1 {
	width: 100%;
	height: 750px;
	margin-top: -70px;
	background-image: url('bg-team.jpg');
    background-repeat: no-repeat;
    background-size: 100% 750px;
}
/* 상단 네비 소스 */

.nav-hc {
    width: 100%;
    height: 70px;
    text-align: center;
    position: fixed;
    top: 0px;
    left: 0px;
}

.nav-inner-hc {
    width: 80%;
    height: 70px;
    margin: 0 10% 0 10%;
    text-align: center;
    display: inline-block;
}
.nav-inner-hc h1 {
    font-family: 'Bitter', serif;
    font-size: 36px;
    color: black;
    margin: 0;
    width: 30%;
    height: 70px;
    padding-top: 20px;
    float: left;
}
.nav-inner-hc-ul-1 {
	margin: 0;
	width: 45%;
	height: auto;
	padding-top: 15px;
	list-style: none;
}
.nav-inner-hc-ul-2 {
    padding-top: 15px;
    list-style: none;
    margin: 0;
    width: 25%;
    height: auto;
    float: right;
}
.nav-inner-menu {
	padding: 10px 20px 0 20px;
}
.nav-inner-hc li {
	display: inline-block
}
.nav-inner-hc a {
    font-family: 'Do Hyeon', sans-serif;
    text-decoration: none;
    font-size: 18px;
    color: #0489B1;
}
.nav-inner-hc-ul-1 a:hover {
	color: black;
    background-color: none;
}
.nav-inner-btn {
	font-family: 'Do Hyeon', sans-serif;
	float: right;
	padding-left: 10px;
    font-size: 20px;
}


.footer {
    width: 100%;
    height: 120px;
    border-top: 1px solid #D8D8D8;
}
.footer-inner {
    width: 100%;
    height: 50%;
    padding-left: 25px;
}
.footer-inner h3 {
    font-family: 'Permanent Marker', cursive;
}
.footer-inner p {
    color: #A4A4A4;
    font-size: 15px;
    margin-top: 5px;
}