body {
    margin: 0px;
    padding: 0px;
    
}
#container {
    width: 100%;
    height: auto;
    margin-top: 70px;
}
.container-1 {
	width: 100%;
	height: 750px;
	margin-top: -70px;
	background-image: url('bg-team.jpg');
    background-repeat: no-repeat;
    background-size: 100% 750px;
}
/* 상단 네비 소스 */

.nav-hc {
    width: 100%;
    height: 70px;
    text-align: center;
    position: fixed;
    top: 0px;
    left: 0px;
}

.nav-inner-hc {
    width: 80%;
    height: 70px;
    margin: 0 10% 0 10%;
    text-align: center;
    display: inline-block;
}
.nav-inner-hc h1 {
    font-family: 'Bitter', serif;
    font-size: 36px;
    color: black;
    margin: 0;
    width: 40%;
    height: 70px;
    padding-top: 20px;
    float: left;
}
.nav-inner-hc-ul-1 {
	margin: 0;
	width: 40%;
	height: auto;
	padding-top: 15px;
	list-style: none;
}
.nav-inner-hc-ul-2 {
    padding-top: 15px;
    list-style: none;
    margin: 0;
    width: 20%;
    height: auto;
    float: right;
}
.nav-inner-menu {
	padding: 10px 20px 0 20px;
}
.nav-inner-hc li {
	display: inline-block
}
.nav-inner-hc-ul-1 a {
    font-family: 'Do Hyeon', sans-serif;
    text-decoration: none;
    font-size: 18px;
    color: #0489B1;
}
.nav-inner-hc-ul-2 a {
    font-family: 'Do Hyeon', sans-serif;
    text-decoration: none;
    font-size: 18px;
    color: #8258FA;
}
.nav-inner-hc-ul-1 a:hover {
	color: black;
    background-color: none;
}
.nav-inner-btn {
	font-family: 'Do Hyeon', sans-serif;
	float: right;
	padding-left: 10px;
    font-size: 20px;
}


.footer {
    width: 100%;
    height: 120px;
    border-top: 1px solid #D8D8D8;
}
.footer-inner {
    width: 100%;
    height: 50%;
    padding-left: 25px;
}
.footer-inner h3 {
    font-family: 'Permanent Marker', cursive;
}
.footer-inner p {
    color: #A4A4A4;
    font-size: 15px;
    margin-top: 5px;
}
/* 
section part 
*/

/* section part1 */

.section {
    width: 100%;
    height: auto;
    display: block;
}

.section-inner {
    width: 100%;
    height: 680px;
    border-top: 1px solid #848484;
    margin: 0;
    padding: 0;
}

.section-inner-vertical-grid{
	width: 100%;
	height: 500px;
	margin-top: 90px;
}

.index-section-horizon-1{
	width: 60%;
	height: 500px;
	display: inline-block;
	float: left;
}
.index-section-horizon-1 img {
	width: 100%;
	height: auto;
}

.index-section-horizon-2{
	width: 40%;
	height: 500px;
	display: inline-block;
}
.index-section-content {
	margin-top: 100px;
}
.index-section-content span {
	font-size: 50px;
	font-family: 'Jua', sans-serif;
	color : #120A2A;
}

/* section part2 */

.section-inner-2 {
    width: 100%;
    height: 680px;
    padding: 0;
    margin: 0;
    border-top: 1px solid #D8D8D8;
    background-color: #F2F2F2;
}
.section-inner-2-horizon-grid{
	width: 80%;
	height: 680px;
	margin-left: 10%;
	text-align: center;
}
.section-inner-2-vertical01 {
	width: 100%;
	height: 500px;
}
.section-inner-2-horizon-grid img {
	height: 500px;
}
.section-inner-2-vertical02 {
	width: 100%;
	height: 180px;
}

.section-inner-2-content-grid {
	padding-top : 40px;
	display: block;
}
.section-inner-2-content01 {
	font-weight: bold;
	font-size: 32px;
	display: block;
	font-family: 'Jua', sans-serif;
}
.section-space-co {
	width: 100%;
	height: 10px;
}
.section-inner-2-content02 {
	font-size: 25px;
	display: block;
	font-family: 'Jua', sans-serif;
}
.section-inner-2-content02 p {
	color: #8181F7;
	display: inline-block;
}