
@import "bootstrap-sprockets";
@import "bootstrap";
@import "materialize";

body {
  padding-top: 3em;
  padding-bottom: 3em;
  background-color: #fff;
  color: #333;
  margin: 23px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
  text-align: center;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: center;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

// 로딩화면 css

#load {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
	display: block;
	opacity: 0.9;
	background: white;
	z-index: 9999;
	text-align: center;
}

#load img {
	position: absolute;
	top: 50%;
	left: 50%;
  transform: translate(-50%,-50%);
}

//

label {
  display: block;
}
.card {
  width: auto;
  height: auto;

}
.card-profil-hc {
  position: fixed;
  top: 3em;
  left: 3em;
  margin: 20px;
}
.card {
  .my-profil-hc{
    text-align: center;

    span {
      font-family: 'Do Hyeon', sans-serif;
      font-weight: bold;
      font-size: 14px;
    }
  }
}


.card {
  .card-title {
    margin-top: 10px;
    font-weight: bold;
    font-size: 15px;
  }
}


.card {
  .card-content  p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Do Hyeon', sans-serif;
    font-weight: bold;
    font-size: 18px;
  }
}

.btn-homeAndproject-hc {
  width: 100%;
  margin-top: 10px;
}

.post {
  .card-content {
    .thumbnail {
      vertical-align: middle;
    }
    .content {
      margin: 20px 0;
    }
  }
}
.my-profil-hc {
  width: 20em;
  height: auto;
}

.btn-hc-1 {
  width: 100%;
  display: inline-block;
  background-color: #29088A;
  color: #BDBDBD;
}
.btn-hc-1:hover {
  background-color: #086A87;
  color: white;
  font-weight: bold;
}
.btn-hc-1:active {
  background: #086A87;
  color: white;
}
