@import "bootstrap-sprockets";
@import "bootstrap";

.nav {
  .project-a-color a {
    color: #04B486;
  }
}

.nav .dropdown a:hover {
  font-weight: bold;
  color: #2E64FE;
}

.user-info.card {
  p {
    margin: 12px 0;
  }
}

.post {
  .card-content {
    .thumbnail {
      vertical-align: middle;
    }
    .content {
      margin: 20px 0;
    }
  }
}

.grid-hc {
  a {
    font-weight: bold;
  }
  .nav-item {
    float: right;
  }
}

.nav {
  .dropdown {
    float: right;
  }
}

.nav {
  .dropdown ul {
    margin-left: auto;
    margin-right: auto;
  }
}

.project-nav-hc {
  width: 100%;
  background-color: #084B8A;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2;
}

.nav-title-hc {
  margin-top: 8px;
  font-weight: bold;
  color: white;
  padding: 0 320px 0 320px;
  font-family: 'Courgette', cursive;
  font-size: 20px;
}

.project-container-hc {
  margin-top: 42px;
  width: 100%;
  height: 685px;
  background-color: #045FB4;
  z-index: 1;
}

.project-inner-hc {
  margin-left: 4%;
  margin-right: 4%;
  color: white;
}

.project-inner-hc h2 {
  padding: 0;
  display: inline-block;
  float: left;
}

.project-tabs-section-hc {
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 12px;
  display: inline-block;

  a {
    font-weight: bold;
  }
}

.project-tabs-inner-hc {
  width: 100%;
  height: 650px;
  background-color: #045FB4;
  margin-left: 0;
  margin-right: 0;
}

.project-list {
  width: 80%;
  height: auto;
  padding: 20px;
  margin-top: 30px;
  margin-left: 10%;
  margin-right: 10%;
  display: table;
}

.project-card-hc {
  width: 20rem;
  height: auto;
  background-color: #F2F2F2;
  border-radius: 5px;
  display: table-cell;
  float: left;
  padding: 10px 10px;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.add-description-hc {
  width: 100%;
  height: auto;
}

.add-description-hc:hover {
  background-color: #D8D8D8;
}

.card-footer {
  a {
    color: #2E9AFE;
    text-decoration: none;
  }
  a:hover {
    color: #5858FA;
  }
}

.add-description-hc {
  border-radius: 5px;

  p {
    display: inline-block;
    font-weight: bold;
    margin: 0;
  }
  span {
    margin: 0 5px 0 5px;
  }
}


.card-body {}

.card-title {
  color: black;
  font-weight: bold;
  font-family: 'Fredoka One', cursive;
}

.plan-box-hc {
  margin: 20px 0 20px 0;
  height: 30px;
  border-radius: 5px;
  color: black;
}

.add-plan-button-hc {
  width: 20rem;
  height: auto;
  background-color: #4E8DF5;
  border-radius: 5px;
  display: table-cell;
  float: left;
  padding: 10px 10px;
  margin: 10px;
  color: #0B614B;
  font-size: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-weight: bold;
  font-family: 'Jua', sans-serif;
}

.add-plan-button-hc:hover {
  background-color: #084B8A;
  color: white;
  opacity: 0.8;
}

.add-button-body-hc {
  padding: 10px 30px 10px 30px;
}

.add-button-body-hc p {
  display: inline-block;
  padding: 0;
  margin: 0;
  margin-left: 5px;
}

.project-tabs-hc {
  color: #585858;
}

/*
  멤버 관련 css
*/

.member-hc {
  width: 80%;
  height: 100%;
  margin-left: 10%;
  margin-right: 10%;
}

.member-list-hc {
  background-color: white;
  width: 80%;
  height: auto;
  padding: 2px;
  margin-top: 50px;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 5px;

  a {
    font-weight: bold;
    color: #424242;
  }
}

.member-nav-hc {
  ul {
    padding: 10px;
    background-color: #FAFAFA;

  }
}

.all-friend-hc {
  padding: 5px;

  ul {
    width: 100%;
    height: 40px;
    list-style: none;

  }
  li {
    display: inline-block;
    float: left;
  }
  :first-child {
    width: 20%;
  }
  :last-child {
    width: 80%;
  }
}
