@import "bootstrap-sprockets";
@import "bootstrap";
@import "materialize";

.nav .project-a-color a {
  color: #04B486;
}
.nav .dropdown a:hover{
  font-weight: bold;
  color: #2E64FE;
}
.right-hc {
  float: right;
}
.user-info.card {
  p {
    margin: 12px 0;
  }
}
.post {
  .card-content {
    .thumbnail {
      vertical-align: middle;
    }
    .content {
      margin: 20px 0;
    }
  }
}
