@import "bootstrap-sprockets";
@import "bootstrap";
// @import "materialize";

.nav .project-a-color a {
  color: #04B486;
}
.nav a {
  font-weight: bold;
}
.nav .dropdown a:hover{
  font-weight: bold;
  color: #2E64FE;
}

.user-info.card {
  p {
    margin: 12px 0;
  }
}
.post {
  .card-content {
    .thumbnail {
      vertical-align: middle;
    }
    .content {
      margin: 20px 0;
    }
  }
}

.grid-hc {
  .nav-item {
    float: right;
  }
}
.nav{
  .dropdown {
    float: right;
  }
}
.nav {
  .dropdown ul {
    margin-left: auto;
    margin-right: auto;
  }
}

.project-inner-hc {
  margin-left: 4%;
  margin-right: 4%;
  color: #210B61;
}

.container {
  background-color: #F2F2F2;
  width: 92%;
  height: 520px;

}
.project-list {
  width: 100%;
  height: 100%;
  padding: 20px;
}
.container .card {
  text-align: center;
  background-color: white;
  border: 1px solid black;
}
