@import "bootstrap-sprockets";
@import "bootstrap";

.nav {
  .project-a-color a {
    color: #04B486;
  }
}

.nav a {
  font-weight: bold;
}
.nav .dropdown a:hover{
  font-weight: bold;
  color: #2E64FE;
}

.user-info.card {
  p {
    margin: 12px 0;
  }
}
.post {
  .card-content {
    .thumbnail {
      vertical-align: middle;
    }
    .content {
      margin: 20px 0;
    }
  }
}

.grid-hc {
  .nav-item {
    float: right;
  }
}
.nav{
  .dropdown {
    float: right;
  }
}
.nav {
  .dropdown ul {
    margin-left: auto;
    margin-right: auto;
  }
}

.project-inner-hc {
  margin-left: 4%;
  margin-right: 4%;
  color: #210B61;
}

.project-list {
  width: 100%;
  height: 100%;
  padding: 20px;
}
.project-card-hc {
  width: 22rem;
  height: 22rem;
  text-align: center;
  background-color: white;
  border: 1px solid #D8D8D8;
  border-radius: 4%;
  display: inline-block;
  float: left;
  padding: 20px 20px;
  margin: 10px;
}

.project-tabs-hc {
  color: #585858;
}
