@import "bootstrap-sprockets";
@import "bootstrap";



/*costomizing*/

body {
  padding-top: 50px;
  width: 100%;
  height: 100%;
  background-color: #F2F2F2;
}
.login-form-hc {
  width: 40%;
  height: auto;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-left: 30%;
  margin-right: 30%;
  border: 1px solid #D8D8D8;
  background-color: white;
}
h2 {
  font-family: 'Do Hyeon', sans-serif;
  color: #2E64FE;
  font-weight: bold;
}
label {
  font-family: 'Do Hyeon', sans-serif;
}
.signup-form-hc {
  width: 50%;
  height: auto;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-left: 25%;
  margin-right: 25%;
  border: 1px solid #D8D8D8;
  background-color: white;
}

section {
  width: 100%;
  height: 79%;
  margin-top: 50px;
  padding-bottom: auto;
}
.section-form span {
  font-weight: bold;
  font-size: 35px;
}
.section-wrap {
  width: 800px;
  height: 100%;
  margin-left: 20%;
  margin-right: 20%;
}
.section-form {
  width: auto;
  height: 100%;
  margin-left: 20%;
  margin-right: 20%;
}
.signup-form label {
  font-size: 25px;
  display: block;
}
.signup-form input {
  width: 100%;
  height: 50px;
  background-color: #E6E6E6;
  border-radius: 6px;
  font-weight: bold;
  font-size: 16px;
}
.space-co {
  margin-top: 20px;
}
footer {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  width: 100%;
  height: 20%;
}
